<ion-view id="page-sua-voz">
  <ion-header-bar align-title="left" class="bar-light">
    <div class="buttons">
      <button class="button button-light btn-app-pmcb" ng-click="goTo('cidade')">
        <i class="icon ion-chevron-left"></i>
      </button>
    </div>
    <h1 class="title title-center title-sua-voz">CINEMA</h1>
    <div class="buttons">
      <button class="button button-light btn-app-pmcb-hidden" disabled>
        <i class="icon ion-plus" style="color: transparent;"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="has-header" padding="true">

    <div class="row" ng-show="info.filmes.length == 1">
      <div class="col col-25"></div>
      <div class="col col-50 div-cinema-filme" style="margin-right: 3px;" ng-click="viewFilme(0)">
        <img style="width: 100%;"
             title=""
             src="{{info.filmes[0].Filme.cartaz}}"
             alt="" />
        <p style="margin: 0px;">{{info.filmes[0].Filme.titulo}}</p>
      </div>
      <div class="col col-25"></div>
    </div>

    <div class="row" ng-show="info.filmes.length == 2">
      <div class="col div-cinema-filme" style="margin-right: 3px;" ng-click="viewFilme(0)">
        <img style="width: 100%;"
             title=""
             src="{{info.filmes[0].Filme.cartaz}}"
             alt="" />
        <p style="margin: 0px;">{{info.filmes[0].Filme.titulo}}</p>
      </div>
      <div class="col div-cinema-filme" style="margin-left: 3px;" ng-click="viewFilme(1)">
        <img style="width: 100%;"
             title=""
             src="{{info.filmes[1].Filme.cartaz}}"
             alt="" />
        <p style="margin: 0px;">{{info.filmes[1].Filme.titulo}}</p>
      </div>
    </div>

    <div class="row" style="margin-top: 15px;">
      <div class="col" style="color: white;" ng-bind-html="info.cinema.descricao"></div>
    </div>
  </ion-content>
</ion-view>