<ion-view id="page-sua-voz">
  <ion-header-bar align-title="left" class="bar-light">
    <div class="buttons">
      <button class="button button-light btn-app-pmcb" ng-click="goTo('cidade')">
        <i class="icon ion-chevron-left"></i>
      </button>
    </div>
    <h1 class="title title-center title-sua-voz">DOWNLOADS</h1>
    <div class="buttons">
      <button class="button button-light btn-app-pmcb-hidden" disabled>
        <i class="icon ion-plus" style="color: transparent;"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="has-header" padding="false">
    <ion-list can-swipe="true" class="list-menu-cidade">
      <ion-item ng-repeat="dado in dados" style="height: 56px;" >
        <a style="color:white;" href="" ng-click="downloadArquivo(dado);">{{dado.descricao}}</a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>