<ion-view id="page-sua-voz">
  <ion-header-bar align-title="left" class="bar-light">
    <div class="buttons">
      <button class="button button-light btn-app-pmcb" ng-click="goTo('cinema')">
        <i class="icon ion-chevron-left"></i>
      </button>
    </div>
    <h1 class="title title-center title-sua-voz">CINEMA</h1>
    <div class="buttons">
      <button class="button button-light btn-app-pmcb-hidden" disabled>
        <i class="icon ion-plus" style="color: transparent;"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="has-header" padding="false">
    <img src="{{filme.filme.cartaz}}"
         style="width: 100%; border-bottom: 1px solid white;"/>

    <div class="row" style="margin-top: 15px;">
      <div class="col" style="color: white;" ng-bind-html="filme.filme.descricao"></div>
    </div>

  </ion-content>
</ion-view>