<ion-view id="page-sua-voz">
  <ion-header-bar align-title="left" class="bar-light">
    <div class="buttons">
      <button class="button button-light btn-app-pmcb" ng-click="goTo('cidade')">
        <i class="icon ion-chevron-left"></i>
      </button>
    </div>
    <h1 class="title title-center title-sua-voz">HISTÓRIA</h1>
    <div class="buttons">
      <button class="button button-light btn-app-pmcb-hidden" disabled>
        <i class="icon ion-plus" style="color: transparent;"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="has-header" padding="false">
    <img src="{{info.imagem}}" style="width: 100%; border-bottom: 1px solid white;"/>
    <div class="div-app-pmcb-historia">
      <p class="p-app-pmcb-historia-titulo">História da Cidade</p>
      <p class="p-app-pmcb-historia-texto" ng-bind-html="info.descricao"></p>
    <div>
  </ion-content>
</ion-view>