<ion-view id="page-sua-voz">
  <ion-header-bar align-title="left" class="bar-light">
    <div class="buttons">
      <button class="button button-light btn-app-pmcb" ng-click="goTo('menu')">
        <i class="icon ion-chevron-left"></i>
      </button>
    </div>
    <h1 class="title title-center title-sua-voz" style=" top: 2px !important;">NOTÍCIAS</h1>
    <div class="buttons">
      <button class="button button-light btn-app-pmcb-hidden" disabled>
        <i class="icon ion-plus" style="color: transparent;"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="has-header" 
               padding="false"
               on-drag-up="onDragUp($event)"
               on-drag-down="onDragDown($event)"
               on-release="onRelease($event)">

    <div class="list div-list-noticias"
         ng-repeat="(index, noticia) in noticias"
         style="margin-top: {{ (index == 0) ? '16px' : '0px'}}"
         ng-click="visualizarNoticia(noticia)">
      <p><span class="span-titulo" ng-bind="noticia.titulo"></span></p>
      <p><span class="span-data-hora" ng-bind="noticia.data_hora"></span></p>
    </div>

    <!--
    <ion-list can-swipe="true" class="list-menu-cidade">
      <ion-item style="height: 56px;" ng-repeat="noticia in noticias" ng-click="visualizarNoticia(noticia)">
        <p><span class="span-titulo" ng-bind="noticia.titulo"></span></p>
        <p><span class="span-data-hora" ng-bind="noticia.data_hora"></span></p>
      </ion-item>
    </ion-list>
      -->
  </ion-content>
</ion-view>