<ion-view id="page-sua-voz">
  <ion-header-bar align-title="left" class="bar-light">
    <div class="buttons">
      <button class="button button-light btn-app-pmcb" ng-click="goTo('cidade')">
        <i class="icon ion-chevron-left"></i>
      </button>
    </div>
    <h1 class="title title-center title-sua-voz">DADOS GERAIS</h1>
    <div class="buttons">
      <button class="button button-light btn-app-pmcb-hidden" disabled>
        <i class="icon ion-plus" style="color: transparent;"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="has-header">
    <div class="div-app-pmcb-historia">
      <div ng-bind-html="info.descricao"></div>
    </div>
    <!--
    <div class="div-app-pmcb-historia">
      <p class="p-app-pmcb-historia-titulo">Dados Gerais do Município</p>
      <p class="p-app-pmcb-historia-texto">

        O Município de Campo Bom situa-se no Vale do Rio dos Sinos,
        distante cerca de 50Km de Porto Alegre (capital do Estado),
        com fácil acesso via ERS 239, no trajeto que liga a Região Metropolitana a
        Serra Gaúcha.Campo Bom é uma cidade que se destaca pelas ciclovias,
        suas festas populares e pelo seu povo alegre e trabalhador. Pioneira na
        exportação de calçado, sendo a principal fonte econômica da região.
        O Município também se destaca como maior produtor de mudas de hortaliças
        do Rio Grande do Sul.

        Campo Bom é uma cidade bonita, inovadora e diferenciada, que acredita muito na sua comunidade.

        Em Campo Bom, as diferentes manifestações culturais refletem a influência das várias
        etnias que povoaram esta região, principalmente a germânica. É esta cidade que queremos,
        com muito orgulho, mostrar para você!
      </p>

      <hr />

      <p class="p-app-pmcb-historia-titulo">
        <span>Nome do município: </span>
        <span style="font-weight: normal">Campo Bom</span>
      </p>

      <hr />

      <p class="p-app-pmcb-historia-titulo">
        <span>População total: </span>
        <span style="font-weight: normal">60.074 habitantes</span>
      </p>

      <hr />

      <p class="p-app-pmcb-historia-titulo">
        <span>Área Km²: </span>
        <span style="font-weight: normal">60,3 Km²</span>
      </p>

      <hr />

      <p class="p-app-pmcb-historia-titulo">
        <span>Distância da Capital: </span>
        <span style="font-weight: normal">50 Km</span>
      </p>

      <hr />

      <p class="p-app-pmcb-historia-titulo">
        <span>Área Urbana: </span>
        <span style="font-weight: normal">24,5 Km²</span>
      </p>

      <hr />

      <p class="p-app-pmcb-historia-titulo">
        <span>Área Rural: </span>
        <span style="font-weight: normal">35,5 Km²</span>
      </p>

      <hr />

      <p class="p-app-pmcb-historia-titulo">Divisas</p>
      <p class="p-app-pmcb-historia-texto">
        Ao Norte ficam as cidades de Dois Irmãos e Sapiranga; ao Sul,
        Novo Hamburgo; Leste, Sapiranga e Oeste, Novo Hamburgo.
      </p>

      <hr />

      <p class="p-app-pmcb-historia-titulo">Localização</p>
      <p class="p-app-pmcb-historia-texto">
        Microregião de Porto Alegre, Região Metropolitana.
      </p>

      <hr />

      <p class="p-app-pmcb-historia-titulo">Clima</p>
      <p class="p-app-pmcb-historia-texto">
        Mesotérmico Subtropical
      </p>

      <hr />

      <p class="p-app-pmcb-historia-titulo">Localização</p>
      <p class="p-app-pmcb-historia-texto">
        Microregião de Porto Alegre, Região Metropolitana.
      </p>

      <hr />

      <p class="p-app-pmcb-historia-titulo">Temperaturas</p>
      <p class="p-app-pmcb-historia-titulo">
        <span>Média anual: </span>
        <span style="font-weight: normal">19,5º C</span>
      </p>
      <p class="p-app-pmcb-historia-titulo">
        <span>Média Máxima anual: </span>
        <span style="font-weight: normal">38/40º C</span>
      </p>
      <p class="p-app-pmcb-historia-titulo">
        <span>Média Mínima anual: </span>
        <span style="font-weight: normal">14,5º C</span>
      </p>

      <hr />

      <p class="p-app-pmcb-historia-titulo">Altitude</p>
      <p class="p-app-pmcb-historia-texto">
        Média de 20m acima do nível do mar <br />
        Mínima de 3,8 sobre nível do Rio do Sinos
      </p>

      <hr />

      <p class="p-app-pmcb-historia-titulo">Latitude</p>
      <p class="p-app-pmcb-historia-texto">
        29º 40’54” – Sul
      </p>

      <hr />

      <p class="p-app-pmcb-historia-titulo">Longitude</p>
      <p class="p-app-pmcb-historia-texto">
        51º 03’25” – Oeste
      </p>

    </div>
    -->
  </ion-content>
</ion-view>