<ion-view id="page-sua-voz">
  <ion-header-bar align-title="left" class="bar-light">
    <div class="buttons">
      <button class="button button-light btn-app-pmcb" ng-click="goTo('cidade')">
        <i class="icon ion-chevron-left"></i>
      </button>
    </div>
    <h1 class="title title-center title-sua-voz">PODAS</h1>
    <div class="buttons">
      <button class="button button-light btn-app-pmcb-hidden" disabled>
        <i class="icon ion-plus" style="color: transparent;"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="has-header" padding="false">

    <img src="img/fundo_podas.jpg" class="img-app-pmcb" style="top: 0; left: 0; border: 0; position: absolute; border-bottom: 2px solid white; border-radius: 0px;"/>

    <div style="height: {{heightDiv}}px;"></div>

    <div ng-repeat="dado in dados" style="margin-bottom: 25px; color: white; font-size: 16px;">
      <p style="font-weight: bold; text-align: center; margin: 0px;">{{dado.bairro}}</p>
      <p style="text-align: center; margin: 0px;">{{dado.poda}}</p>
    </div>

  </ion-content>
</ion-view>