<ion-view id="page-sua-voz">
  <ion-header-bar align-title="left" class="bar-light">
    <div class="buttons">
      <button class="button button-light btn-app-pmcb" ng-click="goTo('menu')">
        <i class="icon ion-chevron-left"></i>
      </button>
    </div>
    <h1 class="title title-center title-sua-voz">PREFEITURA</h1>
    <div class="buttons">
      <button class="button button-light btn-app-pmcb-hidden" disabled>
        <i class="icon ion-plus" style="color: transparent;"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="has-header" padding="true">

    <img src="img/prefeitura.jpg" class="img-app-pmcb" style="top: 0; left: 0; border: 0; position: absolute; border-bottom: 2px solid white; border-radius: 0px;"/>

    <div style="height: {{heightDiv}}px;"></div>

    <div ng-repeat="(index, cargo) in cargos"
         style="background: rgba(255,255,255,1);
                  padding: 4px;
                  border-radius: 6px;
                  margin-top: {{(index==0)? 0 : 15;}}px;
                  margin-bottom: {{(index+1==cargos.length) ? 15 : 0;}}px">
      <div class="div-img-app-pmcb">
        <img src="{{cargo.imagem}}" style="width: 100%;"/>
        <p style="text-align: center; font-size: 16px; font-weight: bold; margin-top: 10px;">
          <a>
            <span ng-bind="cargo.nome"></span>
          </a>
        </p>
        <p style="text-align: center;">
          <a>
            <span ng-bind="cargo.cargo"></span>
          </a>
        </p>
        <p style="text-align: center;">
          <a ng-href="tel: {{cargo.tel}}">
            <span ng-bind="cargo.telefone"></span>
          </a>
        </p>
        <p style="text-align: center;">
          <a ng-click="copy(cargo.email)">
            <span ng-bind="cargo.email"></span>
          </a>
        </p>
      </div>
    </div>
    <!--
    -->

    <p id="p1" style="display:none;"></p>

  </ion-content>
</ion-view>