<ion-view id="page-sua-voz">
  <ion-header-bar align-title="left" class="bar-light">
    <div class="buttons">
      <button class="button button-light btn-app-pmcb" ng-click="goTo('cidade')">
        <i class="icon ion-chevron-left"></i>
      </button>
    </div>
    <h1 class="title title-center title-sua-voz">TELEFONES ÚTEIS</h1>
    <div class="buttons">
      <button class="button button-light btn-app-pmcb-hidden" disabled>
        <i class="icon ion-plus" style="color: transparent;"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="has-header" padding="false">
    <div class="list list-numeros-importantes">
      <a ng-repeat="telefone in telefones" class="item" href="tel:{{telefone.discagem}}">
        {{telefone.descricao}}<span class="item-note">{{telefone.telefone}}</span>
      </a>
      <!--
      <a class="item" href="tel:35989000">Polícia Rodoviária Estadual        <span class="item-note">3598.9000</span></a>
      <a class="item" href="tel:35971313">Delegacia de Polícia               <span class="item-note">3597.1313</span></a>
      <a class="item" href="tel:35970926">Bombeiros                          <span class="item-note">3597.0926</span></a>
      <a class="item" href="tel:35971247">Brigada Militar                    <span class="item-note">3597.1247</span></a>
      <a class="item" href="tel:35986262">Departamento Municipal de Trânsito <span class="item-note">3598.6262</span></a>
      <a class="item" href="tel:35971329">Posto de Saúde                     <span class="item-note">3597.1329</span></a>
      <a class="item" href="tel:35971621">Estação Rodoviária                 <span class="item-note">3597.1621</span></a>
      <a class="item" href="tel:35855000">Hospital Lauro Reus                <span class="item-note">3585.5000</span></a>
      <a class="item" href="tel:35988600">Vigilância Sanitária | Ramal 8780  <span class="item-note">3598.8600</span></a>
      <a class="item" href="tel:35988600">Prefeitura Campo Bom               <span class="item-note">3598.8600</span></a>
      <a class="item" href="tel:35971216">Câmara de Vereadores               <span class="item-note">3597.1216</span></a>
      <a class="item" href="tel:35970423">Complexo Cultural CEI              <span class="item-note">3597.0423</span></a>
      <a class="item" href="tel:35970423">Biblioteca Municipal               <span class="item-note">3597.0423</span></a>
      -->
    </div>
  </ion-content>
</ion-view>